body {
  margin: 0;
  padding: 0;
}

.encabezado {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.encabezado h1 {
  font-size: 2.5rem;
}

.encabezado p {
  font-size: 1.1rem;
  color: #ccc;
}

.promo{
  margin: auto 5em;
}

.promo h2{
  margin: 1em auto;
}

.promo-grid{
  display: grid;
  grid-template-columns: auto 50%;
  grid-gap: 10px;
}

.card{
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 80%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.contacto{
  max-width: 500px;
  margin: 0 auto;
  gap: 15px;
}

.contacto h2{
  margin:1em auto;
  margin-top: 2em;

}

.contacto form{
  margin:1em auto;
}

.contacto input{
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.contacto textarea{
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  height: 120px;
  resize: none;
}

.botonCentrado{
  text-align: center;
}

.botonCentrado button{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  min-width: 3em;
  width: 80%;
}

.pie {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #111;
  color: #ccc;
  text-align: center;
  text-align: center;
}